


body
{
    height: 1000px;
    font-family:VtksHeavyDuty; 
}   

*/
/*  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/

@font-face { font-family: Cabin-Regular; 
             src: url('../fonts/Cabin-Regular.ttf'); 

         } 
                                                     /*start sc nav*/

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#navbar {
  width: 100%;
  top:-60px;
}
#navbar.affix-top {
  position:fixed;
  top: 0px;
  -webkit-transition: all 0.8s ease;
}


#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}
a.navbar-brand.holder {
    font-size: 26px;
    letter-spacing: 3px;
    color: white;
}
a.navbar-brand.holder:hover{
font-weight: bold;
color: white;
 font-size: 29px;
}
ul.nav.navbar-nav.navbar.holder li a {
    font-size: 14px;
    font-family: serif;
    letter-spacing: 2px;
      color: white;
}
ul.nav.navbar-nav.navbar.holder li a:hover {
    color: #db2d8e;
    font-weight: bold;
    text-decoration: line-through;
}


nav.navbar.navbar-default.holder {
    margin-bottom: 0;
    background: white;
    border-top-color: #f18052;
    border-bottom-color: #f18052;
}

.nav.holder {
    background: #f9f8f8;
    margin-top:53px;
}
.navbar-header {
    float: initial;
}



#topbar li {
    list-style: none;
    padding: 6px 25px;
    display: inline-block;
    float: right;
}
a.btn.btn-primary.btn-success.holder{
    color: #fff;
    background: none;
    border: none;
    color: darkgray;
    font-size: 24px;
    font-family: inherit;
}
a.btn.btn-primary.btn-success.holder:hover {
    color: rgba(169, 169, 169, 0.79);
}
span.fa.fa-home {
    margin-right: 12px;
    font-size: 31px;
    color: rgba(213, 208, 208, 0.86);
}

span.fa.fa-phone{
  margin-right: 12px;
    font-size: 31px;
    color: rgba(213, 208, 208, 0.86);
}
span.fa.fa-paper-plane{
  margin-right: 12px;
    font-size: 31px;
    color: rgba(213, 208, 208, 0.86);
}
.head span i {
    font-size: 47px;
    position: absolute;
    right: 25%;
    top: 33px;
      color:   #555555;
}
.head h2 {
    margin-top: 1px;
    font-size: 21px;
    font-weight: bold;
        color: #f18052;
}
.head {
    margin-top: 23px;
}
span.holder {
    margin-right: 86px;
    font-size: 16px;
    letter-spacing: 2px;
    color: #7d7777;
}
i.fa.fa-envelope {
    left: 11%;
      color:   #555555;
}
i.fa.fa-briefcase {
    right: 88%;
  color:   #555555;
}
.head.two {
    margin-right: 13px;
    margin-top: 21px;
}
span.holder.one {
    margin-right: 107px;
    color: #7d7777;
}
span.holder.two {
    margin-right: 99px;
    color: #7d7777;
}
                                    /*end sc nav*/



/*start nav */
.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-bootsnipp {
    background-color: rgb(255, 255, 255);
      border-color: rgb(241, 128, 82);
    border-radius: 0px;
    margin-bottom: 0px;
    z-index: 100;
}
.navbar-bootsnipp:nth-of-type(2) {
    border-top-width: 1px;
    z-index: 50
}

.navbar-bootsnipp.affix-top {
    position: absolute;
    top: 0px;
    width: 100%;
}
.navbar-bootsnipp.affix {
    top: 0px;
    width: 100%;
}
.navbar-bootsnipp .navbar-toggle .icon-bar {
    background-color: rgb(95, 176, 228);
}

.navbar-bootsnipp .navbar-brand {
    color: rgb(95, 176, 228);
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-bootsnipp .navbar-nav > li > a {
     border: 0px solid rgb(241, 128, 82);
    color: rgb(120, 120, 120);
    padding: 15px 14px;
}

.navbar-bootsnipp .navbar-nav > li > form > .input-group > input,
.navbar-bootsnipp .navbar-nav > li > form > .input-group > .input-group-btn > .btn {
    border-radius: 0px;
}

.navbar-bootsnipp .navbar-nav > li:not(.disabled).open > a,
.navbar-bootsnipp .navbar-nav > li:not(.disabled).active > a,
.navbar-bootsnipp .navbar-nav > li:not(.disabled) > a:hover, 
.navbar-bootsnipp .navbar-nav > li:not(.disabled) > a:focus {
    border-left-width: 5px;
    color: rgb(95, 176, 228);
    padding-left: 10px;
}
.navbar-bootsnipp .navbar-nav > li.disabled > a {
    color: rgb(200, 200, 200);
}

.navbar-bootsnipp .navbar-nav > li > .dropdown-menu {
    border-radius: 0;
    margin-right: -1px;
    min-width: 220px;
    padding: 0px;
}
.navbar-bootsnipp .navbar-nav > li:not(.dropdown-right) > .dropdown-menu {
    left: 0px;
    margin-left: -1px;
    right: auto;
}
.navbar-bootsnipp .navbar-nav > li > .dropdown-menu > li > a {
    border-left: 0px solid rgb(95, 176, 228);
    color: rgb(120, 120, 120);
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    white-space: nowrap;
}
.navbar-bootsnipp .navbar-nav > li > .dropdown-menu > li.active > a, 
.navbar-bootsnipp .navbar-nav > li > .dropdown-menu > li > a:hover, 
.navbar-bootsnipp .navbar-nav > li > .dropdown-menu > li > a:focus {
    background-color: rgb(245, 245, 245);
    border-left-width: 5px;
    padding-left: 15px;
}

.navbar .bootsnipp-profile > a {
    padding-bottom: 9px; 
    padding-top: 9px; 
}
.navbar .bootsnipp-profile > a > img {
    border-radius: 50%;
    width: 32px;
}
.navbar .bootsnipp-profile > .dropdown-menu {
    width: 320px;
}
.navbar .bootsnipp-profile > .dropdown-menu > li > .row {
    padding: 5px 15px;
}
.navbar .bootsnipp-profile > .dropdown-menu > li > .row img {
    width: 100%;
}

.navbar-bootsnipp .bootsnipp-search {
    display: none;
}
.navbar-bootsnipp .bootsnipp-search .form-control {
    background-color: rgb(235, 235, 235);
    border-radius: 0px;
    border-width: 0px;
    font-size: 24px;
    padding: 30px 0px;
}
.navbar-bootsnipp .bootsnipp-search .form-control {
    background-color: rgb(235, 235, 235);
    border-radius: 0px;
    border-width: 0px;
    font-size: 24px;
    padding: 25px 0px;
}
.navbar-bootsnipp .bootsnipp-search .form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-bootsnipp .bootsnipp-search .input-group-btn > .btn {
    padding: 14px 16px;
    border-radius: 0px;
}
.navbar-bootsnipp .bootsnipp-search .input-group-btn > .btn.active,
.navbar-bootsnipp .bootsnipp-search .input-group-btn > .btn:hover,
.navbar-bootsnipp .bootsnipp-search .input-group-btn > .btn:focus {
    padding: 14px 16px 14px 15px;
}
.navbar-bootsnipp .bootsnipp-search .input-group-btn > .btn-default {
    background-color: rgb(245, 245, 245);
}
.nav-padding {
    padding-top: 61px;
}
ul.nav.navbar-nav.navbar.holde {
    padding-left: 334px;
}

@media screen and (min-width: 768px) {
    .navbar-bootsnipp .navbar-brand {
        font-size: 20px;
        height: auto;
        padding: 15px 5px;
    }
    .navbar-bootsnipp .navbar-nav > li > a {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .navbar-bootsnipp .navbar-nav > li:not(.disabled).open > a,
    .navbar-bootsnipp .navbar-nav > li:not(.disabled).active > a,
    .navbar-bootsnipp .navbar-nav > li:not(.disabled) > a:hover, 
    .navbar-bootsnipp .navbar-nav > li:not(.disabled) > a:focus {
        border-bottom-width: 5px;
        border-left-width: 0px;
        padding-bottom: 10px;
        padding-left: 14px;
    }

    .navbar-bootsnipp .navbar-nav > li.disabled > a {
        padding-left: 10px;
        padding-right: 10px;
    }


    .navbar-bootsnipp .bootsnipp-search {
        background-color: rgb(235, 235, 235);
        display: block;
        position: absolute;
        top: 100%;
        width: 100%;
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        -o-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-origin: 0 0 0;
        -moz-transform-origin: 0 0 0;
        -o-transform-origin: 0 0 0;
        -ms-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        visibility: hidden;
    }
    .navbar-bootsnipp .bootsnipp-search.open {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
        visibility: visible;    
    }
    .navbar-bootsnipp .bootsnipp-search > .container {
        padding: 0px;
    }    
}

/*end nav*/

                         /*start slider*/




#thumbnail-preview-indicators {
  position: relative;
  overflow: hidden;
}
#thumbnail-preview-indicators .slides .slide-1, 
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
    #thumbnail-preview-indicators,
    #thumbnail-preview-indicators .slides,
    #thumbnail-preview-indicators .slides .slide-1, 
    #thumbnail-preview-indicators .slides .slide-2,
    #thumbnail-preview-indicators .slides .slide-3 {
      height: 546px;
    }
#thumbnail-preview-indicators .slides .slide-1 {
  background-image: url(http://themes.semicolonweb.com/html/canvas/demos/construction/images/slider/2.jpg); 
      background-attachment: fixed;
}
#thumbnail-preview-indicators .slides .slide-2 {
  background-image: url(http://themes.semicolonweb.com/html/canvas/demos/construction/images/slider/1.jpg);
      background-attachment: fixed;
}
#thumbnail-preview-indicators .slides .slide-3 {
  background-image: url(https://s3.amazonaws.com/ooomf-com-files/mtNrf7oxS4uSxTzMBWfQ_DSC_0043.jpg);
      background-attachment: fixed;
}
#thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
  top: 20%;
  bottom: inherit;
}
#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {
  position: relative;
  width: 100px;
  height: 8px;  
}
#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
  position: absolute;
  top: 0;
  width: 100px;
  display: none;
  opacity: 0;
  left: 50%;
  margin-top: -80px;
  margin-left: -50px;
}
#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
  display: block;
  opacity: .8;
}
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover{
  opacity: 1;
}
@media screen and (max-width : 480px) {    
    #thumbnail-preview-indicators .carousel-indicators li,
    #thumbnail-preview-indicators .carousel-indicators li.active {
      width: 50px;
      height: 8px;
      position: relative;
    }
    #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
       width: 50px;
       left: 50%;
       margin-top: -50px;
       margin-left: -25px;
    }
}
a.right.carousel-control.holder {
    background-image: none;
}
a.left.carousel-control.holder {
    background-image: none;
}
a.right.carousel-control.holder span {
    color: #f54b05;
}
a.left.carousel-control.holder span {
    color: #f54b05;
}

ol.carousel-indicators.holder .active {
    background-color: #f18052;
    border-color: #f18052;
}
.carousel-caption.holder h1 {
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 32px;
    text-align: left;
}
.carousel-caption.holder p {
    font-size: 24px;
    padding-right: 16%;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-align: left;
}
.carousel-caption.holder {
    background-color: #ffffff73;
    width: 40%;
    height: 53%;
    padding: 19px 39px 0 43px;
    border: 3px solid #f18052;
    border-radius: 49px;
    position: absolute;
    left: 125px;
}




/*end slider*/



/*start star*/
.start h2 {
    font-size: 22px;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 2px;
}
.start p {
    font-size: 14px;
    letter-spacing: 2px;
    color: #ec5d23;
}
button.start.one {
    background: white;
    border: 1px solid #f18052;
    padding: 10px 23px;
    font-size: 22px;
    float: right;
    margin-top: 20px;
    font-weight: bold;
}
.satrt.holder {
    background-color: #f3f0f0;
    padding: 12px 0 26px;
}
button.start.one:hover {
    background: #f18052;
    color: white;
}


/*end star*/

/*start about us */

img.image.holder {
    max-width: 100%;
}
.about.holder {
    margin-top: 42px;
}
.about h2 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #333;
}
.about span {
    display: block;
    margin-top: 8px;
    font-weight: 700;
    color: #f18052;
}
.about p {
    line-height: 2;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 13px;
    color: #888787;
}

/* end about us */
   /*start image hover*/
.slider_sec {
    background: #f1f1f1;
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
.slider_in          {padding: 65px 40px 80px 40px;}
.slider_sec h3      {margin:0px 0 45px 0; padding:10px 0 0 0; line-height:1; font-size:40px; color:#fff; font-weight:600;}
.slider_sec h4      {margin:0px; padding:0px 0 0 0; line-height:1; font-size:40px; color:#fff; font-weight:300;}
.img_wrp            {line-height:0px; background:#f18052; padding:5px;}
.img_wrp img        {transition: all 0.5s ease;}
.owl-prev           {position: absolute;z-index: 10;display: inline-block;  left: -104px; cursor: pointer; font-size: 0.1px; top: 37%; width: 95px; height: 140px;  background:#f1f1f1 url(https://goo.gl/kLnzFJ)no-repeat;     opacity: 0.2}
.owl-next           {position: absolute; z-index: 10; display: inline-block; right: -51px;  cursor: pointer;font-size: 0.1px;  top: 37%; width: 45px;  height: 140px;  background: #f1f1f1 url(https://goo.gl/ipLMit)no-repeat center;     opacity: 0.2}
.img_text           {position:absolute; left:0; bottom:20px; opacity:0; z-index:10; transition: all 0.5s ease; width:100%; font-family: 'Raleway', sans-serif;}
.img_text h5        {font-size:23px;  font-weight:600; color:#fff; text-transform:uppercase; line-height:1; padding:0 0 4px 0px;}
.img_text p         {font-size:12px;  padding:0px 10px; font-weight:500; margin:0px; color:#fff; line-height:20px; font-family: 'Raleway', sans-serif; text-transform: capitalize;}
.img_wrp:hover img  {  filter: gray; -webkit-filter: grayscale(1); filter: grayscale(1); transition: all 0.5s ease;}
.img_wrp:hover .img_text{opacity:1; transition: all 0.5s ease;}
.img_bg             {position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.7); opacity:0; z-index:1;}
.img_wrp:hover .img_bg{opacity:1;}


/*Owl carousel Library*/

.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative
}

.owl-carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.owl-height {
    -webkit-transition: height .5s ease-in-out;
    -moz-transition: height .5s ease-in-out;
    -ms-transition: height .5s ease-in-out;
    -o-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-controls .owl-dot,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel .owl-refresh .owl-item {
    display: none
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.owl-carousel.owl-text-select-on .owl-item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto
}

.owl-carousel .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

.no-js .owl-carousel {
    display: block
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity .4s ease;
    -moz-transition: opacity .4s ease;
    -ms-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: scale .1s ease;
    -moz-transition: scale .1s ease;
    -ms-transition: scale .1s ease;
    -o-transition: scale .1s ease;
    transition: scale .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
    -webkit-transition: scale(1.3, 1.3);
    -moz-transition: scale(1.3, 1.3);
    -ms-transition: scale(1.3, 1.3);
    -o-transition: scale(1.3, 1.3);
    transition: scale(1.3, 1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-transition: opacity .4s ease;
    -moz-transition: opacity .4s ease;
    -ms-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1
}

                       /*end image hover*/

                       /*start  choose*/


                       .media 
{
  padding-top: 40px;
}
.media a:hover, .media a:focus
{
  text-decoration: none;
  outline: none;
}
.media .media-left .icon 
{
  display: block;
  width: 80px;
  height: 80px;
  padding: 16px 6px;
  color: #f0f0f0;
  text-align: center;
  border-radius: 50%;
}
.media .media-left .icon::before
{
  font-size: 44px;
}
.media.holder img {
    width: 59px;
    margin-bottom: 53px;
}
.media.holder h4 {
    font-size: 17px;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}
.media.holder p {
    font-size: 14px;
    letter-spacing: 1px;
    color: #a2a0a0;
}




/*end choose*/


/*start city*/
h2.some {
    text-align: center;
}

.col-md-3.col-xs-12.no-padding {
    padding: 0;
}
.col-md-3.col-xs-12.no-padding img {
    width: 100%;
}
.project.holder h2 {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #f18052;
        margin-left: 5px;
        margin-bottom: 3px;
}
.project.holder p {
    font-size: 16px;
    color: #7d7c7cd4;
        margin-left: 5px;
}



/*end city */


/**/



/* Tabs*/

.list-carousel-holder {
    background: white;
    padding: 35px;
}
a.list-quotes.holder:hover img {
    -webkit-transform: translate3d(0,-80px,0);
    transform: scale(1.2);
    opacity: 0.5;
    transition: all 250ms ease;
    outline: none;
  
}
a.list-quotes.holder {
    background: #474242;
    color: white;
}
a.list-quotes.holder h1,p
{
  display: none;
}
a.list-quotes.holder:hover h1,p
{
  display: block;
  opacity: 1
}
a.list-quotes.holder h1 {
    background: none;
    color: rgb(0, 0, 0);
    margin-left: 83px;
}
a.list-quotes.holder p1 {
    position: absolute;
    top: 142px;
    left: 106px;
}



a.right.carousel-control.holder.slide {
    font-size: 42px;
    border: 1px solid #f18052;
    color: #b3aaaa;
    height: 75px;
    width: 44px;
    opacity: unset;
    padding: 0 11;
    margin-right: 38px;
    font-weight: bold;
    border-radius: 8px;
}
a.left.carousel-control.holder.slide{
    font-size: 42px;
    border: 1px solid #f18052;
    color: #b3aaaa;
    height: 75px;
    width: 44px;
    opacity: unset;
    padding: 0 11;
    margin-right: 38px;
    font-weight: bold;
    border-radius: 8px;
}
.list-carousel-holder {
    background: white;
    padding: 35px;
}
.list-quotes.what {
  background: rgb(241, 128, 82);
    cursor: pointer;
    height: auto;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    display: block;
    border: 1px solid rgb(241, 128, 82);
}
.list-quotes.what img,
.list-quotes.what h1 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.list-quotes.what img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
        height: 311px;
}
.list-quotes.what h1{
    background: rgba(51,153,153,0.8);
    bottom: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    left: 0;
    padding: 15px;
    position: absolute;
    margin: 0;
}
.list-quotes.what .year{
    background: rgba(51,153,153,0.8);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
}
.list-quotes.what .cat-name{
    background: rgba(108,108,108,0.8);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
}
.list-quotes.what p {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    text-transform: lowercase;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
    font-size: 15px;
    font-weight: normal;
background: rgb(98, 48, 183);
    width: 100%;
    color: #fff;
}

 .list-quotes.what h1.what {
      line-height: 7;
    position: absolute;
    bottom: 85px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    text-transform: lowercase;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
    font-size: 15px;
    font-weight: normal;
    background: none;
    width: 100%;
    color: white;
    text-align: center;
    z-index: 2;
        letter-spacing: 2px;
    font-size: 17px;
}
.list-quotes.what:hover h1.what{
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.list-quotes.what h2 {
  line-height: 7;
      letter-spacing: 3px;
    position: absolute;
    bottom: 61px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    text-transform: lowercase;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
    font-size: 15px;
    font-weight: normal;
    width: 100%;
    color: #fff;
    text-align: center;
}
.list-quotes.what:hover h2{
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.list-quotes.what div#stars {
      line-height: 6;
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    text-transform: lowercase;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
    font-size: 15px;
    font-weight: normal;
    width: 100%;
    color: #fff;
    letter-spacing: 8px;
    text-align: center;
    font-size: 17px;
}

.list-quotes.what:hover img {
    -webkit-transform: translate3d(0,-80px,0);
    transform: scale(1.2);
    opacity: 0.5;
    transition: all 250ms ease;
    outline: none;
}
.list-quotes.what:hover{
    box-shadow: 0 0 5px 2px rgba(51,153,153, 0.5);
}
.list-quotes.what:hover h1 {
    -webkit-transform: translate3d(0,-100px,0);
    transform: translate3d(0,-100px,0);
    text-shadow: 0px 0 15px #fff;
    transition: all 250ms ease;
}
.list-quotes.what:hover .year,.list-quotes:hover .cat-name{
    text-shadow: 0px 0 15px #fff;
    transition: all 250ms ease;
}
.list-quotes.what:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.quotes.what span{
    color:#222;
    font-weight: bold;
    text-transform: capitalize;
    color: #fff;
}
.list-quotes.what p .they {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    text-transform: lowercase;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
    font-size: 15px;
    font-weight: normal;
    background: rgba(51,153,153,0.8);
    width: 100%;
    color: #fff;
}
p.they i.fa.fa-heart-o {
    font-size: 22px;
    border: 1px solid white;
    padding: 5px;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 37px;
    text-align: center;
}
p.they i.fa.fa-exchange {
    font-size: 22px;
    border: 1px solid white;
    padding: 5px;
    position: absolute;
    top: 1px;
    right: 150px;
    width: 37px;
    text-align: center;
}
p.they i.fa.fa-shopping-cart {
    font-size: 17px;
    border: 1px solid white;
    padding: 6px;
    float: right;
    margin: auto;
    position: relative;
    bottom: 9px;
    left: 10px;
    width: 113px;
    height: 34px;
    background: white;
    color: blueviolet;
}
p.they i.fa.fa-shopping-cart {
    font-size: 17px;
    border: 1px solid white;
    padding: 6px;
    float: right;
    margin: auto;
    position: relative;
    bottom: 9px;
    left: 10px;
    width: 113px;
    height: 34px;
    background: white;
    color: blueviolet;
}
p.they i.fa.fa-search {
    font-size: 22px;
    border: 1px solid white;
    padding: 5px;
    position: absolute;
    top: 1px;
    right: 114px;
    width: 35px;
    text-align: center;
}
h2.POPULAR {
    text-align: center;
    font-weight: bold;
    border: 1px solid #f18052;
    color: #afa6a6;
    font-size: 19px;
    width: 182px;
    margin-left: 150px;
    padding: 11px;
    margin-top: 0;
    margin-bottom: 36px;
    letter-spacing: 1px;
    border-radius: 7px;
}

h2.POPULAR:hover {
    background: white;
    border: 1px solid #f18052;
    color:#f18052;
}
.recent h2 {
    font-size: 31px;
    font-weight: bold;
    margin-bottom: 42px;
    color: #5a5555;
}
.recent p {
    font-size: 15px;
    font-weight: bold;
    color: #8e8787;
}
.recent a {
    text-decoration: none;
    color: #f18052;
}
.recent.holder img {
    max-width: 100%;
}
.col-md-4.no-padding {
    padding: 0;
}
img.holder.all {
    border-top: 1px dashed #afaaaa;
    border-right: 1px dashed #afaaaa;
     border-left: 1px dashed #afaaaa;
}
img.holder.all.one {
    border-top: none;
}
img.all.two {
    border-bottom: 1px dashed #afaaaa;
}

img.all.th {
    border-bottom: 1px dashed #afaaaa;
}


/*<!-- end tabs and contact -->*/


/*satrt Points*/
img.point {
    max-width: 100%;

}
.point.holder.all h2 {
    font-size: 33px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #000000d6;
    margin-bottom: 23px;
}
.point.holder.all p {
    font-size: 24px;
    letter-spacing: 1px;
    color: #949292;
    margin-bottom: 28px;
}
ul.point.holder li {
    font-size: 22px;
list-style: none;
line-height: 2;
}
ul.point.holder {
    padding-left: 0;
}
ul.point.holder li span {
    margin-left: 9px;
}
i.fa.fa-check {
    color: #f18052;
}

/*end point*/
/*start footer*/
footer.nb-footer {
background:#171515fa;
border-top: 4px solid  #f4a07d; }
footer.nb-footer .about {
margin: 0 auto;
margin-top: 40px;
max-width: 1170px;
text-align: center; }
footer.nb-footer .about p {
    font-size: 14px;
    color: #999;
    text-align: left;
}
footer.nb-footer .about .social-media {
margin-top: 15px; }
footer.nb-footer .about .social-media ul li a {
display: inline-block;
width: 45px;
height: 45px;
line-height: 45px;
border-radius: 50%;
font-size: 16px;
color: #b78c33;
border: 1px solid rgba(255, 255, 255, 0.3); }
footer.nb-footer .about .social-media ul li a:hover {
background: #b78c33;
color: #fff;
border-color: #b78c33; }
footer.nb-footer .footer-info-single {
margin-top: 30px; }
footer.nb-footer .footer-info-single .title {
color: #aaa;
text-transform: uppercase;
font-size: 16px;
border-left: 4px solid #f18052;
padding-left: 5px; }
footer.nb-footer .footer-info-single ul li a {
display: block;
color: #aaa;
padding: 2px 0; }
footer.nb-footer .footer-info-single ul li a:hover {
color:#f18052; }
footer.nb-footer .footer-info-single p {
font-size: 13px;
line-height: 20px;
color: #aaa; }
footer.nb-footer .copyright {
margin-top: 15px;
background: #111;
padding: 7px 0;
color: #999; }
footer.nb-footer .copyright p {
margin: 0;
padding: 0; }


.about img {
    max-width: 100%;
    margin-top: 15px;
    border-right: 1px dashed #c1c1c1;
    padding-right: 77px;
}

/*END FOOTER*/
/*start copyright*/

a.fa.fa-twitter {
    text-decoration: none;
    color:#8f8c8c;
}



a.fa.fa-facebook{
  text-decoration: none;
    color:#8f8c8c;

}


a.fa.fa-youtube{
  text-decoration: none;
    color:#8f8c8c;
}


a.fa.fa-pinterest{
  text-decoration: none;
    color:#8f8c8c;
}


a.fa.fa-google {
  text-decoration: none;
    color:#8f8c8c;
}



ul.social-media.all li {
    list-style: none;
    display: table-cell;
}

ul.social-media.all a {
    width: 6px;
    padding: 11px 0px 11px 19px;
    padding-right: 76px;
    margin-top: 7px;
    font-size: 16px;
    color: #aaaaaa;
    border-right: 2px solid #c1c1c1;
}
 .btn.holder a {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    text-decoration: none;
    border-radius: 30px;
    padding: 16px 57px;
}


a.fa.fa-facebook:hover {
    letter-spacing: 5px;
    font-weight: bold;
      padding-right: 108px;
    background: 3b5998;
    color: white;
    background: #3b5998;
    border-right: 4px solid #f49e52;
    transition: all .3s ease-in-out;
}


a.fa.fa-youtube:hover {
    letter-spacing: 5px;
    font-weight: bold;
      padding-right: 108px;
    background: 3b5998;
    color: white;
    background: #3b5998;
    border-right: 4px solid #f49e52;
        transition: all .3s ease-in-out;

}
a.fa.fa-pinterest:hover {
    letter-spacing: 5px;
    font-weight: bold;
      padding-right: 108px;
    background: 3b5998;
    color: white;
    background: #3b5998;
    border-right: 4px solid #f49e52;
        transition: all .3s ease-in-out;

}
a.fa.fa-google:hover {
    letter-spacing: 5px;
    font-weight: bold;
      padding-right: 108px;
    background: 3b5998;
    color: #f18052;
    background: #3b5998;
    border-right: 4px solid #f49e52;
        transition: all .3s ease-in-out;

}


             /*                        */

                                                 /*startttt sc page>>>>>>>>>>>>>> about>>>>>>>>>>>> */

h2.about.sc {
    font-size: 33px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: capitalize;
}
p.about.sc {
    font-size: 17px;
    color: #b7b3b3;
    letter-spacing: 1px;
}
.about.sc a {
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 150px;
    color: #c1c1c1;
    text-decoration: none;
}
.all.holder {
    border-bottom: 1px solid #f1f1f1;
      border-top: 1px solid #f1f1f1;
      margin-top: 55px;

}


    /*end sc page about */

/*stat th about and slider */


.about.th.holder h2 {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 7px;
}

p.about.th {
    font-size: 20px;
    color: #868383;
    letter-spacing: 1px;
}
p.about.th.two {
    font-size: 13px;
    font-weight: bold;
    color: #737171;
}
button.start.one.holder {
    float: none;
    margin-top: 45px
}
a.left.carousel-control.holder.slide.all {
    margin-top: 37px;
}
a.right.carousel-control.holder.slide.all {
    margin-top: 37px;
}
.POPULAR.holder{
    margin-bottom: 59px;
}

/*end th about and slider*/


/*start choose*/

img.image.about {
    max-width: 100%;
    height: 508px;
}
.col-md-7.no-padding {
    padding: 0;
      margin-left: 47px;
}

.col-md-12.no-padding {
    padding: 0;
    background: #282828;
    border: 1px solid rgba(255,255,255,.1);

}

h4.media-heading.about {
    color: #d2cbcbf7;
    letter-spacing: 1px;
    font-size: 19px;
}
/*end choose
/*start header*/

.header.holder {
    font-size: 32px;
    text-align: center;
    padding-top: 31px;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding-bottom: 74px;
}

.header.holder a {
    text-decoration: none;
    color: white;
}
.header.all {
    background-color: #f18052;
    margin-top: 74px;
    margin-bottom: 51px;
}
/*end header*/




/*end the ********************sc**************/


                  /*start the     page >>>>>projects>>>>>*/



.projects.holder {
    margin-top: 61px;
        margin-top: 61px;
    border-bottom: 1px solid #f1f1f1;
}
h2.projects.th {
    font-size: 33px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: capitalize;
}
p.project.sc {
    font-size: 17px;
    color: #b7b3b3;
    letter-spacing: 1px;
}
.project a {
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 150px;
    color: #c1c1c1;
    text-decoration: none;
}

/*start image*/
.detalies.header h2 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 31px
}
.image.projects img {
    max-width: 100%;

}
.image.projects h2 {
    color: #f18052;
    font-size: 30px;
}
.image.projects p {
    color: #848181;
}

/*end image*/


                  /*end the ****************project**************/



/*start page >>>>>>>>>>project33333333>>>>>>>>>>>*/
.image.projects.th h2 {
    font-size: 23px;
}
/*end page >>>>>>>>>>project33333333>>>>>>>>>>>*/

































































































/*

@media (max-width:375px){


}




@media (max-width:414px){




}
  








@media (max-width:575px){



}






@media (min-width:768px) and (max-width:1024px){



}




@media (min-width:1024px) and (max-width:1366px){



}*/





















